body {
 background-size: cover;
  background-image: url("assets/images/camera_font.jpg");
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}
.mainbox{
  display:flow-root;
}

#loginbox {
  margin-top:50px;
}

footer {
  background: #696969;
  display:inline-grid;
  border-bottom: 1px solid #eee;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-variant: small-caps;
}

footer a {
  text-decoration: none;
  color: #001E33;
}

/* TecnicoaCR */
