/* Author: TecnicoaCR */

 body {
  /*background: linear-gradient(#696969, #F5F5F5);*/
  background-size: cover;
  background-image: url("/assets/img/camera_font.jpg");
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

header {
  background: #FFFFFF;
  border-bottom: 1px solid #eee;
  margin-top: 0;
  text-align: left;
  width: 100%;
  padding: 4px 0;
  position:  initial;
}

header a {
  text-decoration: none;
  color: #001E33;
}

header #logo {
  vertical-align: middle;
  max-width: 25%;
  width: 80%;
  float: left;
  margin-left: 5px;
}

p {
  text-decoration: none;
  color: #001E33;
  font-size: 70%;
}

form {
  margin: auto;
  width: 50%;
  max-width: 300px;
  background: linear-gradient(#63AEC1, #F5F5F5);
  padding: 40px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  font-size: x-large;
  vertical-align: middle;
  margin-bottom: 50px;
  margin-top: 30px;
  text-shadow: 5px 2px 7px grey;
  position:  static;
}

h2 {
  color: #004575;
}

h3 {
  color: #004575;
}

input {
  display: inline-table;
  padding: 10px;
  width: 100%;
  margin: 25px 0;
  border-radius: 5px;
  font-size: 15px;
}

input[type="text"], input[type="password"] {
  outline: none;
  padding: 10px;
  display: block;
  width: 275px;
  border-radius: 3px;
  border: 1px solid #eee;
  margin: 20px auto;
}

input[type="submit"] {
  background-color: #63AEC1;
  border: 1;
  width: 275px;
  margin: 20px auto;
  margin-top: 10px;
  opacity: 0.8;
  cursor: pointer;
  border-radius: 15px;
  align-content: center;
}

input[type="button"] {
    background-color: #3290A7;
    width: 100px;
    border: 1;
    opacity: 0.8;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 0;
}

input[type="submit"]:hover {
  opacity: 1;
  background-color: #00b8eb;
}

input[type="submit"]:active { <!-- al momento de dar clic al ingresar -->
  transform: scale(0.8);
}

input[type="button"]:hover {
  opacity: 1;
}

input[type="button"]:active { <!-- al momento de dar clic al ingresar -->
  transform: scale(0.8);
}

@media (max-width:768px) {
  form {
    width: 75%;
  }
}
@media (max-width:480px) {
  form {
    width: 95%;
  }
}

footer {
  background: #696969;
  position: absolute;
  bottom: 0;
  height: 40px;
  border-bottom: 1px solid #eee;
  margin-top: 100px;
  text-align: center;
  width: 100%;
  padding: 10px 0;
  font-variant: small-caps;
}

footer a {
  text-decoration: none;
  color: #001E33;
}

/* TecnicoaCR */
